@model Hotel_Reservation_Menager.Models.Users

<form method="post" asp-action="CreateUser">
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">Add User</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="FirstName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="FirstName" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="MiddleName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="MiddleName" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="LastName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="LastName" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Username"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Username" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Email" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Password" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Egn"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Egn" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PhoneNumber"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PhoneNumber" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="HireDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="HireDate" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="DisplayView" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>

</form>
