@model Hotel_Reservation_Menager.Models.Reservations

<form method="post" asp-action="CreateReservation">
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">Add User</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="RoomId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="RoomId" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="UserId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="UserId" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ListOfClients"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ListOfClients" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Accommodation"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Accommodation" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Exemption"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Exemption" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="IsBreakfast"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="IsBreakfast" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="IsAllInclusive"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="IsAllInclusive" class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Create" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>

</form>

