@model Hotel_Reservation_Menager.Models.Rooms

<form method="post" asp-action="DeleteRoom">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete User</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Number"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Number" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Capacity"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Capacity" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Type"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Type" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PricePerAdult"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PricePerAdult" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="PricePerChild"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="PricePerChild" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
 </form>







